<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleAllowMixedLocalizations</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>“哎比邻”想访问你的照片图库
请「允许访问所有照片」，以保证在哎比邻中能正常访问相册。如果你使用「选择照片」，则所有未选中的，以及未来新增的照片都将无法在哎比邻访问。</string>
	<key>NSCameraUsageDescription</key>
	<string>“哎比邻”想访问你的相机如果不允许，你将无法在哎比邻中拍摄照片和视频，也无法使用视频通话、扫一扫等功能。</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>“哎比邻”不会连接到您所用网络上的设备，只会检测与您本地网关的连通性。您也可以在设备的设置-隐私-本地网络界面修改哎比邻的权限设置。</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>若不允许，你将无法使用安全定位等功能。</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>若不允许，你将无法使用安全定位等功能。</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>“哎比邻”想访问你的麦克风如果不允许，你将无法在哎比邻中发送语音消息，或进行音视频通话。</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>“哎比邻”想访问你的照片图库
请「允许访问所有照片」，以保证在哎比邻中能正常访问相册。如果你使用「选择照片」，则所有未选中的，以及未来新增的照片都将无法在哎比邻访问。</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>“哎比邻”想访问你的照片图库
请「允许访问所有照片」，以保证在哎比邻中能正常访问相册。如果你使用「选择照片」，则所有未选中的，以及未来新增的照片都将无法在哎比邻访问。请「允许访问所有照片」，以保证在哎比邻中能正常访问相册。如果你使用「选择照片」，则所有未选中的，以及未来新增的照片都将无法在哎比邻访问。</string>
	<key>RTCAppGroupIdentifier</key>
	<string>group.cn.rentsoft.openim.ios.rtc</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
</dict>
</plist>
